# Node modules
node_modules/

# Build output
dist/
build/

# Environment variables
.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# VSCode settings (opcional, si no quieres compartirlos)
.vscode/

# Archivos temporales
*.swp
*.swo
*.tmp

# Credenciales y archivos sensibles
creds.json

# Archivos generados
package-lock.json

# Otros
factura_counter.txt
